*       @signalfx/gdi-python-maintainers @signalfx/gdi-python-approvers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-python-maintainers @signalfx/gdi-python-approvers
