default:
  image: 'cimg/python:3.9'

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  key:
    files:
      - poetry.lock
  paths:
    - .cache/pip

stages:
  - test
  - release 

.tox:
  image: 'cimg/python:$PY_VERSION'
  cache:
    key:
      prefix: $TOX_ENV
      files:
        - poetry.lock
    paths:
      - .tox
  script:
    - sudo apt update
    - sudo apt install -y python3-distutils python3-apt
    - pip install tox
    - tox -e $TOX_ENV

build:
  script:
    - make deps
    - make build

lint:
  extends: .tox
  variables:
    PY_VERSION: "3.9"
    TOX_ENV: lint

test-py37:
  extends: .tox
  variables:
    PY_VERSION: "3.7"
    TOX_ENV: py37-test

test-py38:
  extends: .tox
  variables:
    PY_VERSION: "3.8"
    TOX_ENV: py38-test

test-py39:
  extends: .tox
  variables:
    PY_VERSION: "3.9"
    TOX_ENV: py39-test

release:
  stage: release
  artifacts:
    paths:
      - dist/
  only:
    - /^v[0-9]+\.[0-9]+\.[0-9]+.*/
  except:
    - branches
  script:
    - make deps
    - poetry config pypi-token.pypi $PYPI_PASSWORD
    - make publish
    - shasum -a 256 dist/* > dist/checksums.txt
    - make ci-create-github-release
