[tool.poetry]
name = "splunk-opentelemetry"
version = "1.9.1"
description = "The Splunk distribution of OpenTelemetry Python Instrumentation provides a Python agent that automatically instruments your Python application to capture and report distributed traces to SignalFx APM."
authors = ["Splunk <splunk-oss@splunk.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [
    { include = "splunk_otel" },
    { include = "splunk_otel/**/*.py" },
]
include = [
    'CHANGELOG.md',
    'README.md',
    'LICENSE'
]

[tool.poetry.scripts]
splunk-py-trace = 'splunk_otel.cmd.trace:run'
splunk-py-trace-bootstrap = 'splunk_otel.cmd.bootstrap:run'
# deprecated commands
splk-py-trace = 'splunk_otel.cmd.trace:run_deprecated'
splk-py-trace-bootstrap = 'splunk_otel.cmd.bootstrap:run_deprecated'

[tool.poetry.plugins."opentelemetry_distro"]
splunk_distro = "splunk_otel.distro:_SplunkDistro"

[tool.poetry.dependencies]
python = "^3.7"
opentelemetry-api = "1.15.0"
opentelemetry-sdk = "1.15.0"
opentelemetry-instrumentation = "0.36b0"
opentelemetry-semantic-conventions = "0.36b0"
opentelemetry-propagator-b3 = "1.15.0" 
opentelemetry-exporter-jaeger-thrift = "1.15.0"
opentelemetry-exporter-otlp-proto-grpc = "1.15.0"

[tool.poetry.extras]
all = ["opentelemetry-propagator-b3", "opentelemetry-exporter-otlp-proto-grpc", "opentelemetry-exporter-jaeger-thrift"]
b3 = ["opentelemetry-propagator-b3"]
otlp = ["opentelemetry-exporter-otlp-proto-grpc"]
jaeger = ["opentelemetry-exporter-jaeger-thrift"]

[tool.poetry.dev-dependencies]
flake8 = "4.0.1"
mypy = "0.971"
black = {version = "22.6.0", python = ">=3.7.0"}
isort = {version = "5.9.3", python = ">=3.7.0"}
pytest = "7.0.1"
coverage = "6.1.1"
pytest-cov = "2.12.1"
pylint = "2.12.0"
pylintfileheader = "0.3.2"
pytest-docker = {version = "1.0.0", platform = "linux"}
requests-futures = "1.0.0"
githubrelease = "1.5.9"
keepachangelog = "1.0.0"
click = "8.0.4"
types-setuptools = "65.3.0"

[tool.black]
line-length = 90
requires = ["poetry>=1.1.11"]
build-backend = "poetry.masonry.api"

[tool.pytest.ini_options]
minversion = "6.2"
addopts = "-ra"
testpaths = [
    "tests",
]
