[tool.poetry]
name = "splunk-opentelemetry"
version = "0.9.0"
description = "The Splunk distribution of OpenTelemetry Python Instrumentation provides a Python agent that automatically instruments your Python application to capture and report distributed traces to SignalFx APM."
authors = ["Splunk <splunk-oss@splunk.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [
    { include = "splunk_otel" },
    { include = "splunk_otel/**/*.py" },
]
include = [
    'CHANGELOG.md',
    'README.md',
    'LICENSE'
]

[tool.poetry.scripts]
splk-py-trace = 'splunk_otel.cmd.trace:run'
splk-py-trace-bootstrap = 'splunk_otel.cmd.bootstrap:run'

[tool.poetry.dependencies]
python = "^3.6"
opentelemetry-api = "1.0.0rc1"
opentelemetry-sdk = "1.0.0rc1"
opentelemetry-exporter-jaeger = "1.0.0rc1"
opentelemetry-propagator-b3 = "1.0.0rc1"
opentelemetry-instrumentation = "^0.18b0"

[tool.poetry.dev-dependencies]
flake8 = "^3.9.0"
mypy = "^0.812"
black = {version = "^20.8b1", python = "^3.6"}
isort = {version = "^5.8.0", python = "^3.6"}
pytest = "^6.2.0"
coverage = "^5.5"
pytest-cov = "^2.11.1"
pylint = "^2.7.2"
pylintfileheader = "^0.3.0"

[tool.black]
line-length = 90
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}
