version: 2.1

jobs:
  build:
    docker:
      - image: 'cimg/python:3.9'
    steps:
      - checkout
      - restore_cache:
          key: deps-build-{{ checksum "poetry.lock" }}
      - run:
          command: make deps
      - save_cache:
          key: deps-build-{{ checksum "poetry.lock" }}
          paths:
            - ".tox"
            - "/home/circleci/.cache/pip"
      - run:
          command: make build 
      - store_artifacts:
          path: dist/
          destination: built-packages
      - persist_to_workspace:
          root: ~/
          paths: project/

  integration:
    machine:
      image: ubuntu-2004:202008-01
    steps:
      - checkout
      - run:
          name: Setup Environment Variables
          command: echo "export PATH=$HOME/.poetry/bin:$PATH" >> $BASH_ENV
      - restore_cache:
          key: deps-build-{{ checksum "poetry.lock" }}
      - run:
          name: Install Poetry
          command: python .circleci/get-poetry.py -y
      - run:
          command: make deps
      - save_cache:
          key: deps-build-{{ checksum "poetry.lock" }}
          paths:
            - ".tox"
            - "/home/circleci/.cache/pip"
      - run:
          command: make integration

  tox-env:
    parameters:
      py_version:
        type: string
      tox_env:
        type: string
      tests:
        type: boolean
        default: true 
    docker:
      - image: 'cimg/python:<< parameters.py_version >>'
    steps:
      - checkout
      - restore_cache:
          key: deps-<< parameters.tox_env >>-{{ checksum "poetry.lock" }}
      - run:
          command: |
            pip install tox
      - run:
          command: |
            tox -e << parameters.tox_env >>
      - save_cache:
          key: deps-<< parameters.tox_env >>-{{ checksum "poetry.lock" }}
          paths:
            - ".tox"
            - "/home/circleci/.cache/pip"
      - when:
          condition:
            equal: [true, << parameters.tests >>]
          steps:
            - store_test_results:
                path: test_results
            - run:
                name: upload coverage report
                command: bash scripts/codecov.sh

workflows:
  test_build:
    jobs:
      - build:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
      - integration:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
      - tox-env:
          name: lint
          py_version: '3.8'
          tox_env: 'lint'
          tests: false
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
      - tox-env:
          name: mypy 
          py_version: '3.8'
          tox_env: 'mypy'
          tests: false
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
      - tox-env:
          name: python-3.6
          py_version: '3.6'
          tox_env: 'py36-test'
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
      - tox-env:
          name: python-3.7
          py_version: '3.7'
          tox_env: 'py37-test'
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
      - tox-env:
          name: python-3.8
          py_version: '3.8'
          tox_env: 'py38-test'
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
      - tox-env:
          name: python-3.9
          py_version: '3.9'
          tox_env: 'py39-test'
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
      - tox-env:
          name: python-3.10
          py_version: '3.10'
          tox_env: 'py310-test'
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/